.summary-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.doctor {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.doctor img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin: 0;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 14px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  color: #6a35ff;
}

.highlight {
  color: #6a35ff;
  font-weight: 500;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 10px 0;
}
