body {
  margin: 0;
  background: #fafafa;
}

.container {
  padding: 40px;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}




.back-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: #636363;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 80px;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.steps {
  color: #777;
  margin-top: 5px;
}

.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

/* LEFT BOX */
.left-box {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  margin-bottom: 100px;
}



.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px 18px;
  margin-bottom: 18px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  background: #fff;
}

.circle.active {
  background: #6a35ff;
  color: #fff;
  border-color: #6a35ff;
}

.circle.done {
  background: #15b46b;
  color: #fff;
  border-color: #15b46b;
}

.line {
  flex: 1;
  height: 2px;
  background: #e3e3e3;
  margin: 0 10px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
}


/* Inputs */
label {
  font-weight: 500;
  display: block;
  margin-top: 15px;
}

label span {
  color: red;
}

.input-wrapper {
  margin-top: 6px;
}

input,
textarea {
  width: 95%;
  padding: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  background: #fafafa;
}

textarea {
  height: 120px;
  resize: none;
}

/* Buttons */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.actions .back {
  background: white;
  border: 1px solid #ccc;
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.actions .next {
  background: #6b4eff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
}

/* SUMMARY RIGHT */
.summary {
  background: white;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}

.summary h3 {
  margin-bottom: 20px;
}

.profile {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.rating {
  color: #f1b300;
  font-size: 14px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 15px;
}

hr {
  margin: 20px 0;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.footer {
  background: #fafafa;
  padding: 80px 0 40px;
  font-family: "Inter", sans-serif;
  border-top: 1px solid #e5e7eb;
  width: 100%;
  margin: 0px;
}



.footer-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  gap: 90px;
}

.footer-brand {
  padding: 0px 20px;
}

/* ========== اللوجو ========== */
.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 700;
  color: #7b2cff;
}

.logo img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.footer-brand p {
  margin-top: 18px;
  color: #6b6b6b;
  line-height: 1.7;
  font-size: 15px;
  width: 90%;
}

/* ========== السوشيال ميديا ========== */
.social-icons {
  margin-top: 25px;
}

.social-icons a {
  display: inline-flex;
  width: 38px;
  height: 38px;
  background: #ececec;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #555;
  margin-right: 12px;
  font-size: 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #7b2cff;
  color: white;
}

/* ========== الأعمدة ========== */
.footer-col h3 {
  font-size: 17px;
  color: #111;
  font-weight: 600;
  margin-bottom: 22px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 12px 0;
}

.footer-col ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #6b6b6b;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #7b2cff;
}

/* ========== السطر اللي تحت ========== */
.footer-bottom {
  margin-top: 60px;
  padding-top: 25px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 15px;
  color: #6b6b6b;
}

.bottom-item i {
  color: #7b2cff;
  margin-right: 8px;
}

/* ========== حقوق الملكية ========== */
.footer p.copyright {
  text-align: center;
  margin-top: 25px;
  color: #666;
  font-size: 15px;
}

/* ========== Responsive ========== */
@media (max-width: 1100px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
}
