/* LAYOUT */
.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 80px;
  background: white;
  align-items: flex-start;
}

/* LEFT SECTION WIDTH */
.left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* RIGHT SECTION WIDTH */
.right {
  width: 32%;
  position: sticky;
  top: 20px;
  height: fit-content;
}

/* CARDS SHARED STYLE */
.card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
}

/* ============= WHAT YOU'LL LEARN CARD ============== */
.learn-card h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.learn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.icon {
  color: #16c172;
  font-size: 20px;
  margin-top: 2px;
}

/* ============= DESCRIPTION CARD ============== */

.desc-card h2 {
  margin-bottom: 18px;
}

.desc-card p {
  margin-bottom: 16px;
  line-height: 1.7;
  color: #333;
}

/* ============= INSTRUCTOR CARD ============== */

.instructor-card h2 {
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.profile .title {
  margin-top: -5px;
  color: #888;
}

.info {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  line-height: 32px;
}

.bio {
  color: #444;
  line-height: 1.6;
  margin-top: 5px;
}

.profile-btn {
  width: 100%;
  padding: 12px;
  background: #f8f9fb;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s ease;
}

/* Hover */
.profile-btn:hover {
  background: #eee;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    padding: 30px;
  }

  .left,
  .right {
    width: 100%;
  }
}
